@import url('https://fonts.googleapis.com/css2?family=Alkalami&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Seaweed+Script&display=swap');

.hide {
  display: none;
}

select{
  width: 15%;
  font-family: 'Alkalami', sans-serif;
}

option{
  color: white;
  background-color:gray;
}

body {
  font-family: 'Alkalami', sans-serif;
}


.btn.correctAnswerId {
  background-color: green;
}

.btn.wrong {
  background-color: red;
}

.indicator {
     width:30px;
     height:30px;
  }
